<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      >
  <targets>
    <!-- See https://github.com/NLog/NLog/wiki/LimitingWrapper-target for more information -->
    
    <target name="corefile"
            xsi:type="File"
            layout="${longdate} ${logger} ${level:uppercase=true} ${message} ${exception:format=ToString,StackTrace}"
            fileName="${basedir}/RequestTimeOff.log" />
    

    <target name="unhandledexceptionfile"
            xsi:type="File"
            layout="${longdate} ${logger} ${level:uppercase=true} ${message} ${exception:format=ToString,StackTrace}"
            fileName="${basedir}/RequestTimeOff.unhandledException.log" />
  </targets>

  <rules>
    <!--<logger name="*" 
            minlevel="Trace" 
            writeTo="corefile" />-->

    <logger name="unhandledexception"
            minlevel="Trace"
            writeTo="unhandledexceptionfile" />
  </rules>
</nlog>